{{#unless isLoaded}}
  <img src={{previewUrl}} data-video-id={{videoId}} style="width: 640px; height: 390px;">
{{/unless}}
<div style="display: {{if isLoaded '' 'none'}}">
  <div id="{{elementId}}-player"></div>
</div>