{{#liquid-with model as |currentModel|}}
  <div style="height: 500px; width: 500px;">
    {{currentModel.snippet.title}}
    <img src={{currentModel.snippet.thumbnails.high.url}} data-video-id={{currentModel.id.videoId}}>
  </div>
{{/liquid-with}}