{{#liquid-with model class='video-player' as |currentModel|}}
  <div style="height: 500px; width: 500px;">
    {{!currentModel.snippet.title}}
    {{youtube-player videoId=currentModel.id.videoId previewUrl=currentModel.snippet.thumbnails.default.url}}
  </div>
{{/liquid-with}}