<div class="layout">
  <div class="video">
    {{liquid-outlet}}
  </div>
  <div class="sidebar">
    {{#each model.items as |item|}}
      {{#link-to 'video' item.id.videoId tagName="div" class="video-thumb"}}
        <img class="thumb" src={{item.snippet.thumbnails.default.url}} data-video-id={{item.id.videoId}}>
        <h1 class="thumb-title">{{item.snippet.title}}</h1>
      {{/link-to}}
    {{/each}}
  </div>
</div>
  