<div class="layout">
  <div class="video">
    {{outlet}}
  </div>
  <div class="sidebar">
    {{#each model.items as |item|}}
      {{#link-to 'video' item.id.videoId tagName="div" class="video-thumb"}}
        <img class="thumb" style="float: left; width: 120px; height: 90px;" src={{item.snippet.thumbnails.high.url}} data-video-id={{item.id.videoId}}>
        <h1 class="thumb-title">{{item.snippet.title}}</h1>
      {{/link-to}}
    {{/each}}
  </div>
</div>
